<!-- Newsfeed Common Side Bar Left ================================================= -->
  <div class="profile-card pb-3">
    <img src="assets/images/users/user-1.jpg" alt="user" class="profile-photo" />
    <h5><a href="timeline.html" class="text-white">Sarah Cruiz</a></h5>
    <a href="#" class="text-white"><i class="ion ion-android-person-add"></i> 1,299 followers</a>
  </div>
<!--profile card ends-->
  <ul class="nav-news-feed">
    <li *ngFor="let item of newsFeed"><i class="{{item.icon}}"></i><a href="{{item.href}}">{{item.label}}</a></li>
  </ul>
<!--news-feed links ends-->
  <div class="chat-block">
    <div class="title  mb-4 m-auto">Chat online</div>
    <ul class="online-users list-inline row ">
      <li *ngFor="let item of chatBlock" class="col-sm-4 mb-3"><a href="{{item.href}}" title="{{item.label}}"><img src="{{item.image}}" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>
    </ul>
  </div>
<!--chat block ends-->


