/* Create Post Box CSS  ==================================================*/

.create-post{
  width: 100%;
  min-height: 90px;
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f1f2f2;
}

.create-post .form-group{
  margin-bottom: 0;
  display: inline-flex;
}

.create-post .form-group img.profile-photo-md{
  margin-right: 10px;
}

li a{
  color: #6d6e71;
  font-size: 25px;
  padding: 5px;
}

.publishing-tools  li a:hover{
  color: #27aae1;
}
