/*=================== Newsfeed Right Sidebar ======================*/

.suggestions {
    position: fixed !important;
}

a {
    text-decoration: none;
}

.follow-user {
    margin-bottom: 20px;
}

.follow-user h5 a {
    text-decoration: none;
    font-size: 16px;
}

.follow-user div {
    margin-left: 50px;
    position: relative;
}

.follow-user div::after {
    content: "";
    background: none;
    border-top: 1px solid #f1f2f2;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -10px;
}
